<ul>
  <% characters.each do |character|%>
  <li><%=link_to character.movie.title, movie_path(character.movie.slug)%> - <%=character.movie.release_date%><br>
  <%=character.name%></li>
  <%end%>
</ul>
