<h1>Movies directed by <%=@person.name%></h1>
<%= render partial:'movie_list', locals: {movies: @movies} %>

<%= link_to "<button>Go back</button>".html_safe, :back, :id => "button_id", :class => "button_class"%>
