<h1><%=@person.name%> Filmography</h1>
<%= render partial:'filmography', locals: {characters: @characters} %>


<%= link_to "<button>Go back</button>".html_safe, :back, :id => "button_id", :class => "button_class"%> 
