<h1>All people in the database are listed below</h1>
<%= link_to "<button>Add new person</button>".html_safe, new_person_path, :id => "button_id", :class => "button_class" if user_signed_in?%>
<table>
  <thead>
    <th><h3>Actors</h3></th>
    <th><h3>Directors</h3></th>
    <th><h3>Writers</h3></th>
  </thead>
  <tr valign="top">
    <td><%= render partial:'people_list', locals: {people: @actors} %>
    </td>
    <td><%= render partial:'people_list', locals: {people: @directors} %>
    </td>
    <td><%= render partial:'people_list', locals: {people: @writers} %>
    </td>
  </tr>
</table>
