<h1>Edit <%=@movie.title%></h1>

<%= render partial:'form', locals: {movie: @movie} %>
<%= link_to "<button>Go back</button>".html_safe, movie_path(@movie.slug), :id => "button_id", :class => "button_class" if user_signed_in?%>
