<%= link_to "Add new movie", new_movie_path if user_signed_in?%>
<h1>All Movies</h1>
<h3>See movies by Genre</h3>
<h4><% @genres.each do |genre|%>
<%= link_to genre.name, genre_path(genre.slug)%>(<%=genre.movies.size%>)
<%end%></h4>

<%= render partial:'movie_list', locals: {movies: @movies} %>
