<h1>Welcome to Movie Database</h1>
<p>You can review movies and their ratings here.</p>



<h2>Recently Added!</h2>

<table>
  <tr>
    <th>Movies</th>
    <th>People</th>
    <!-- <th>Reviews</th> -->
  </tr>
  <tr>
    <td>
      <ul>
        <% @recently_added_movies.each do |m|%>
          <li><%=link_to m.title, movie_path(m.slug)%></li>
          <%end%>
      </ul>
    </td>
    <td>
      <ul>
        <% @recently_added_people.each do |p|%>
          <li><%=link_to p.name, person_path(p.slug)%></li>
          <%end%>
      </ul>
    </td>
    <!-- <td>
      <ul>
        <% @recently_added_reviews.each do |r|%>
          <li><%=link_to "#{r.movie.title}-'#{r.comment}'", review_path(r)%></li>
          <%end%>
      </ul>
    </td> -->
  </tr>

</table>
